body
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
#title
{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid
{
  padding: 3% 15% 7%;
}
h1
{
  font-family: 'Montserrat-black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: bold;
}
h2
{
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
}
h3
{
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: bold;
}
/*navigation bar*/

.navbar
{
  padding: 0 0 4.5rem 0;
}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: bold;
}
.nav-item
{
  padding: 0 18px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
/*download buttons*/
.dbut
{
  margin: 5% 3% 5% 0;
}
/*phone image*/
.pimg
{
  width: 19%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}
/*features image*/
#features
{
  text-align: center;
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.fimg
{
  color: #efB172;
  margin-bottom: 1rem;
}
.fimg:hover
{
  color:#ff4c68;
}
.fbox
{
  text-align: center;
  padding: 5%;
}
p
{
  color: #8f8f8f;
}
.fl
{
  justify-content: center;
}
/*testimonials*/
#testimonials
{
  text-align: center;
  color: #fff;
  background-color: #efB172;
}
.timg
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item
{
  padding: 7% 15%;
}

/*press*/
#press
{
  text-align: center;
  background-color: #efB172;
  padding-bottom: 3%;
}
.pl
{
  width: 15%;
  padding: 20px, 20px, 50px;
}

/*pricing*/
#pricing
{
  padding: 100px;
}
.pcol
{
  padding: 3% 2%;
  text-align: center;
}
@media (max-width: 1028px)
{
  #title
  {
    text-align: center;
  }
  .pimg
  {
    position: static;
    transform: rotate(0deg);
  }
}
 /*cta*/
 #cta
 {
   background-color: #ff4c68;
   color: #fff;
   text-align: center;
   padding: 100px;
 }
 .text
 {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5;
   font-size: 3.5rem;
   font-weight: bold;
 }

 /*footer*/
 #footer
 {
   padding: 100px;
   text-align: center;
}
